.article-main {
  aspect-ratio: 4/5;
}

.article-virales {
  img {
    aspect-ratio: 4/7;
    @media (max-width: 980px) {
      aspect-ratio: 1;
    }
  }
}

.nav-footer li:last-child {
  border: 0;
}
.nav-footer {
  li {
    a {
      &:hover {
        color: $color-primary;
      }
    }
  }
}
